$font-size:18px;
$color:#ddd;
@mixin user-select-default() {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-moz-cursor: default;
	-webkit-cursor: default;
	-ms-cursor: default;
	cursor: default;
}
#app{
	width:100%;
	height:100%;
	.login-container{
		width:100%;
		height:100%;
		background-image:url("../img/bankbg.jpg");
		background-size:100% 100%;
		background-repeat:no-repeat;
		.container{
			width:1280px;
			margin:auto;
			.header{
				background-color:rgba(0,0,0,0);
				line-height: 50px;
				.header-left{
					display: flex;
				    float: left;
				    font-size: 18px;
				    .header-logo{
				    	background-image:url("../img/logo横版.png");
				    	background-repeat:no-repeat;
				    	background-size: 100%;
						height: 32px;
						width: 135px;
						margin-top: 9px;
				    }
				    .header-text{
				    	margin-left:5px;
				    	@include user-select-default();
				    }
				}
				.header-right{
					display:flex;
					float: right;
				    font-size: 12px;
				    .change-language{
						height: 24px;
						width: 65px;
						margin:13px 0 0 10px;
						line-height: 24px;
				    	background-repeat:no-repeat;
						background-size: 43%;
						background-position:4px 3px;
						border-radius: 4px;
						-webkit-cursor: pointer;
						-moz-cursor: pointer;
						-ms-cursor: pointer;
						cursor: pointer;
				    	span{
							padding-left: 37px;
				    	}
				    }
				    .chinese{
				    	// background-image:url("../img/chinese.png");
				    }
				    .english{
						// background-image:url("../img/english.png");
						width: 89px;
						background-size: 35%;
						background-position: 2px 2px;
						span{
							padding-left:40px;
						}
				    }
				}
			}
			.section{
				text-align:center;
				z-index: 2;
				.section-title{
					color:#fff;
					font-size:26px;
					margin-top: 5vw;
					@include user-select-default();
				}
				.section-infor{
					width: 580px;
					margin: auto;
					color: #aaaca8;
					margin-top: 20px;
					@include user-select-default();
				}
				.section-about{
					display: flex;
					width: 260px;
					margin: auto;
					color: #fff;
					margin-top:10px;
					@include user-select-default();
					div{
						span{
							display: inline-block;
							width: 10px;
							height: 10px;
							background-color: #fe8800;
							border-radius: 50px;
							margin: 0 5px;
						}
					}
					div:not(:first-child){
						margin-left:20px;
					}
				}
				.section-type{
					display:flex;
					width: 845px;
					line-height: 36px;
					margin: auto;
					margin-top: 83px;
					.type-title{
						color: #fff;
						font-size: 16px;
						span{
							color: #f48302;
							font-size: 14px;
							padding-left: 5px;
						}
					}
					.type-into{
						border-bottom: 1px solid #fff;
						margin-left: 15px;
						.input{
							color: #fff;
							border-color: transparent;
							padding-left: 28px;
							background-color: transparent;
							background-repeat:no-repeat;
							background-size: 9%;
							background-position: -2px 6px;
						}
					}
					.username{
						.input{
							background-image:url("../img/username.png");
						}
					}
					.password{
						.input{
							background-image:url("../img/password.png");
						}
					}
					.check{
						width:210px;
						span{
							float: left;
						}
						.input-check{
							width:140px;
							.input{
								background-size: 10%;
								background-image:url("../img/security.png");
							}
						}
						.img{
							float: left;
							display: block;
							width: 42px;
							height: 20px;
							margin-top: 8px;
							border: 1px solid rgba(255,255,255,0.5);
							img{
								height:100%;
							}
						}
						.icon{
							width: 20px;
							height: 20px;
							color: #0586dd;
							margin-top: 10px;
							margin-left: 5px;
							-webkit-cursor: pointer;
							-moz-cursor: pointer;
							-ms-cursor: pointer;
							cursor: pointer;
						}
					}
					.save-password{
						margin-left: 15px;
						span{
							color: #fff;
							padding-left: 5px;
						}
					}
				}
				.section-login{
					margin-top:30px;
					.btn-primary{
						width: 160px;
						background-color: #e76b5f;
					}
				}
				.forget-password{
					padding-left: 325px;
					margin-top: -29px;
					z-index: 0;
					a{
						color:#ccc;
					}
					a:hover{
						color:#2196f3;
					}
				}
			}
		}
		.footer{
			width:100%;
			height:152px;
			position:fixed;
			bottom:0;
			@include user-select-default();
			.footer-container{
				width:1280px;
				margin:auto;
				.footer-title{
					font-weight: bold;
					color: #666666;
					margin-top:30px;
				}
				.footer-infor{
					display: flex;
					color: #999999;
					font-size: 12px;
					margin-top:15px;
					div{
						flex:1;
						span{
							display:block;
						}
					}
				}
			}
		}
	}
}
