.transaction-search,.transaction-detail,.latinos-search,.latinos-detail{
	padding:20px !important;
	.detailInfo{
		text-align: center;
		background-color: #f0f0f0;
		padding: 10px 0;
		margin-bottom: 20px;
	}
	.search-div{
		position: relative;
		display:table;width:100%;box-sizing: border-box;
		content:"";
		.KsDatePicker{
			display: inline-block;
			width: 200px;
			.KsDatePicker-input{
				.ks-col{
					height:34px;
				}
			}
		}
		& > div,& > span,& > input,& > select,& > a{
			float: left;margin:0 0 20px 20px
		}
		& > span{
			line-height: 40px;
		}
		& > select{
			width: 170px;height: 36px;
		}
		.btn-primary{
			float: right;
		}
		.KSNRCheckbox{
			margin-top: 4px;
		}
		.searchBtn{
			float:right;padding: 10px 18px 10px 18px;
			// width:80px;
		}
		.input{
			height:36px;
		}
		.showList{
			position: absolute;top: 14px;left: 0px;padding: 15px 15px 0 15px;
			min-width: 158px;max-height: 400px;
			background: #fff;border: 1px solid #ddd;border-radius: 5px;overflow: auto;z-index: 999;
			ul{
				li{
					margin-bottom: 10px;
					cursor: pointer;
					&:hover{
						color:#2196f3;
					}
				}
				.checked{
					color:#2196f3;
				}
			}
		}
		.KsDaterMultiPicker{
			height: 36px;
			.KsDaterMulti{
				left: -195px;
			}
		}
	}
	.search-table{
		padding:0 !important;
		.conditions-list{
			padding-right: 15px;
			.input,.select{
	            vertical-align: top;
				height:38px;
				margin-right: 10px
			}
		}
	}
	.flex-chart{
		display:flex;clear:both;
		border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;padding:20px 0;height:180px;
		& > div{
			flex:1;
		}
		.flex{
			position: relative;
			.flex-title{
				height: 40px;line-height: 40px;
				text-align: center;font-size: 16px;
			}
			.echart-div{
				margin: auto;height: 140px;width: 140px;
			}
			.border-right{
				top: 15px;right: -1px;position: absolute;
				height: 150px;border-right: 1px solid #f0f0f0;
			}
		}
	}
	.text{
		display: inherit;
		line-height: 180px;
		font-size: 18px;
		text-align: center;
	}
	.showInfo{
		margin-top: 15px;height: 36px;
		display:flex;
		.outPDF{
			width: 95px;line-height: 36px;
		}
		.pagegroup{
			flex:1;display:flex;
			.KsPageGroup-statistical{
				width:40px;
			}
			.ks-col{
				flex:1;
			}
			.ks-col-auto{
				flex: 1;text-align: right;
			}
		}
		span{
			line-height:30px;
			display: inline-block;
		}
		.infor-num{
			padding-left:15px;
			strong{
				padding:0 5px;
			}
		}
		.out-excel{
			float: right;
			cursor: pointer;
			i{
				vertical-align: baseline;
			}
			&:hover{
				color: #2196f3;
			}
		}
	}
}