@mixin input-radio() {
	vertical-align: middle;
	margin-right:5px;
}
@mixin width-margin($width,$left) {
	width:$width;
	margin-left:$left;
}
@mixin width-lineheight($width,$lineh) {
	width:$width;
	line-height:$lineh;
}
.transaction-detail{
	.table{
		margin-top: 20px;
	}
	.showInfo{
		margin-top:20px;
		height: 30px;
		border-top: 1px solid rgba(233,233,233,1);
		span{
			line-height:30px;
			display: inline-block;
		}
		.out-excel{
			float: right;
			cursor: pointer;
		}
	}
}