.transaction-search{
	.search-div{
		content:"";
		display:table;
		position: relative;
		.KsDatePicker{
			display: inline-block;
			width: 200px;
		}
		& > div,& > span,& > input,& > select,& > a{
			float: left;
			margin-right: 15px;
			margin-bottom: 10px;
		}
		& > span{
			line-height: 40px;
		}
		& > select{
			width: 150px;
			height: 38px;
		}
		.btn-primary{
			float: right;
		}
		.KSNRCheckbox{
			margin-top: 4px;
		}
		.searchBtn{
			float:left;
		}
		.input{
			height:36px;
		}
		.showList{
			position: absolute;
			border: 1px solid #ddd;
			background: #fff;
			top: 38px;
			left: 67px;
			padding: 15px 15px 0 15px;
			min-width: 158px;
			border-radius: 5px;
			max-height: 175px;
			overflow: auto;
			z-index: 1;
			ul{
				li{
					margin-bottom: 10px;
					cursor: pointer;
					&:hover{
						color:#2196f3;
					}
				}
			}
		}
		
	}
	.table{
		margin-top: 20px;
	}
	.showInfo{
		padding-top:20px;
		height: 30px;
		span{
			line-height:30px;
			display: inline-block;
		}
		.out-excel{
			float: right;
			cursor: pointer;
			i{
				vertical-align: baseline;
			}
			&:hover{
				color: #2196f3;
			}
		}
	}
	.pagegroup{
		margin-top:20px;
	}
}