.transaction-search,.transaction-detail,.latinos-search,.latinos-detail{
	.search-div{
		content:"";
		display:table;
		position: relative;
		float: right;
		.KsDatePicker{
			display: inline-block;
			width: 200px;
			.KsDatePicker-input{
				border-radius:0;
				.ks-col{
					height:34px;
				}
			}
		}
		& > input,& > select{
			border-radius:0;
		}
		& > div,& > span,& > input,& > select,& > a{
			float: left;
			margin:0 0 20px 20px
		}
		& > span{
			line-height: 40px;
		}
		& > select{
			width: 170px;
			height: 36px;
		border-radius:0;
		}
		.btn-primary{
			float: right;
		}
		.KSNRCheckbox{
			margin-top: 4px;
		}
		.searchBtn{
			float:left;
			width:80px;
			padding: 9px 18px 10px 18px;
		}
		.input{
			height:36px;
		}
		.showList{
			position: absolute;
			border: 1px solid #ddd;
			background: #fff;
			top: 38px;
			left: 67px;
			padding: 15px 15px 0 15px;
			min-width: 158px;
			border-radius: 5px;
			max-height: 175px;
			overflow: auto;
			z-index: 1;
			ul{
				li{
					margin-bottom: 10px;
					cursor: pointer;
					&:hover{
						color:#2196f3;
					}
				}
			}
		}
		
	}

	.flex-chart{
		clear:both;
		height:180px;
		border-bottom:1px solid #f0f0f0;
		border-top:1px solid #f0f0f0;
		display:flex;
		padding:20px 0;
		& > div{
			flex:1;
		}
		.flex{
			position: relative;
			.flex-title{
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 16px;
			}
			.echart-div{
				height: 140px;
				width: 140px;
				margin: auto;
			}
			.border-right{
				position: absolute;
				height: 150px;
				top: 15px;
				right: -1px;
				border-right: 1px solid #f0f0f0;
			}
		}
	}
	.text{
		display: inherit;
		text-align: center;
		line-height: 180px;
		font-size: 18px;
	}
	.table{
		clear: both;
		table{
			border-width: 0px !important;
			tr{
				height:37px !important;
			}
		}
	}
	.showInfo{
		padding-top:5px;
		height: 36px;
		display:flex;
		.outPDF{
			width: 95px;
			line-height: 36px;
		}
		.pagegroup{
			flex:1;
			display:flex;
			.KsPageGroup-statistical{
				width:40px;
			}
			.ks-col{
				flex:1;
			}
			.ks-col-auto{
				flex: 1;
				text-align: right;
			}
		}
		span{
			line-height:30px;
			display: inline-block;
		}
		.infor-num{
			padding-left:15px;
			strong{
				padding:0 5px;
			}
		}
		.out-excel{
			float: right;
			cursor: pointer;
			i{
				vertical-align: baseline;
			}
			&:hover{
				color: #2196f3;
			}
		}
	}
}