.latinos-detail,.transaction-detail{
	.flex-chart{
		padding:0;
		height: 160px;
		.flex{
			.flex-title{
				height: 15px;
				line-height: 15px;
			}
			.border-right{
				height: 120px;
				top: 20px;
			}
		}
	}
	.detailInfo{
		background-color: #f0f0f0;
    	text-align: center;
    	padding: 10px 0;
    	margin-bottom: 20px;
    	.infor-num{
    		margin-left:20px;
    	}
	}
	.showInfo{
		padding-top: 5px;
	}
}