.latinos-detail{
	.search-table{
		.conditions-list{
			.input,.select{
				vertical-align:text-bottom;
			}
			.input{
				margin-right: 10px;
			}
			.select{
				margin-right:0 !important;
			}
		}
		.do-search{
			.searchBtn:hover{
				background-color: #e74c39!important;
			}
		}
	}
}