.latinos-search{
	.search-div{
		.showList{
			left: 0px !important;
		}
		.do-search{
			.searchBtn:hover{
				background-color: #e74c39!important;
			}
		}
	}
	.colorRed{
		color: red;
		cursor: pointer;
		margin-right: 5px;
	}
	.overflow{
		overflow-x:auto;
	}
}