.password-config{
	background-color:#fff;
	.four-type{
        margin:0 auto 100px auto;
        overflow: hidden;
        display: flex;
        div{
            text-align: center;
            float: left;
		}
	}
	.pr{
		flex:1;
		border-bottom: 3px solid #f0f0f0;
		color:#999999;
	}
	.pr.active{
		border-bottom: 3px solid #e76b5f;
		& > div{
			color: #e76b5f;
		}
	}
	.w265{
		width: 313px;
		height:50px;
		line-height: 50px;
		box-sizing: border-box;
	}
	.bg{
	    background:#fff;
	    height: 600px;
	    margin: 0px auto;
	}
	.f18{
	    font-size: 18px;
		height: 80px;
		width: 480px;
		background-color: #f0f0f0;
		margin: auto;
		line-height: 80px;
		padding: 0 20px;
		img{
			margin-top:16px;
		}
	}
	.f17{
	    color:#999999;
	    text-align:center;
	}
	.f11{
		width: 200px;
		margin: auto;
		a{
			width: 82% !important;
			background-color: #e76b5f;
		}
	}
	.f2{
		text-align:center;
	}
	.form-row{
	    margin-bottom: 20px;
		overflow: hidden;
		div{
		    display: inline-block;
		    float: left;
		    line-height: 35px;
		}
		.form-label{
		    width: 110px;
		    margin-right: 10px;
		    text-align: right;
		    input{
				width: 355px;
		    }
		    a{
				margin-left: 20px;
		    }
		    .btn-gray{
		    	background-color:#999999;
		    	color:#fff;
		    }
		    .btn-primary{
		    	background-color:#e76b5f;
		    	color:#fff;
		    }
		}
		.form-input{
		    margin-left:34%;
		    input{
		        width: 350px;
		        border-radius:0px;
		    }
		    .input245{
		        width: 245px;
		    }
		}
		.img{
		    width: 95px;
		    border: 1px solid #dadada;
		    border-radius: 3px;
		    height: 33px;
		    margin-left: 10px;
		}
		.btn{
		    width: 200px;
		}
	}
	.f17{
	    color:#999999;
	    text-align:center;
	}
	.verify-2{
	    .form-label{
			width: 480px;
			margin-top: 24px;
	        .input{
				width: 355px;
				border-radius: 0;
	        }
	    }
	    .btn{
	        display: inline-block;
	        line-height: 100%;
	        box-sizing:border-box;
	        width: 100px;
	    }
	}
	.verify-title{
		text-align: center;
	    margin-bottom: 20px;
	}
}