@mixin input-radio() {
	vertical-align: middle;
	margin-right:5px;
}
@mixin width-margin($width,$left) {
	width:$width;
	margin-left:$left;
}
@mixin width-lineheight($width,$lineh) {
	width:$width;
	line-height:$lineh;
}
.user-config{
	.table{
		margin-top: 20px;
	}
	.KsPageGroup{
		margin-top:20px;
	}
	.kdialog{
    	left:60%;
  	}
	.checkAll{
		display: inline-block;
		padding: 6px 5px;
		cursor:pointer;
		span{
			margin-left: 5px;
		}
		b{
			display: inline-block;
			border: 1px solid #D0D0D5;
			border-radius: 3px;
			width: 18px;
			height: 18px;
			text-align: center;
			line-height: 18px;
		}
		b:before {
			content: '';
			display: inline-block;
			height: 10px;
			width: 10px;
			border-radius: 3px;
			opacity: 0;
			-webkit-transition: opacity .3s;
			transition: opacity .3s;
		}
	}
	.checkAll.checked{
		b:before {
			opacity: 1;
			background: #00A5E0;
		}
	}
	.form-group{
		display:flex;
		width:650px;
		margin:0 auto 20px auto; 
		.name-left{
			display: block;
			height:36px;
			@include width-lineheight(100px,36px);
			text-align: right;
			i{
				color:red;
				margin-right:5px;
			}
		}
		.KSNRCheckbox{
			padding: 6px 3px;
		}
		.KSNRRadio{
			padding: 6px 15px;
		}
		.name-right{
			@include width-lineheight(150px,36px);
			// text-align:right;
			margin-left: 15px;
			input[type="checkbox"]{
				vertical-align:middle;
				margin-right:5px;
			}
		}
		.catch-infor{
			line-height:36px;
			margin-left:15px;
		}
		.v-select{
			@include width-margin(485px,15px);
			height:36px;
		}
		select{
			@include width-margin(330px,15px);
			border-radius:3px;
		}
		.input[type="text"]{
			@include width-margin(330px,15px)
		}
		.input[type="password"]{
			@include width-margin(330px,15px)
		}
		.input[type="radio"]{
			text-align:center;
		}
		.choose-radio{
			@include width-lineheight(95px,36px);		
			margin-left:5px;
			input{
				@include input-radio;
			}
		}
		.function-area{
			@include width-margin(485px,15px)
			margin-left:5px;
			.KSNRCheckbox{
				padding: 6px 5px;
			}
			.function-choose{
				float:left;
				margin-right:15px;
				line-height:36px;
				input{
					@include input-radio;
				}
			}
		}
	}
	.close-center{
		a{
			margin:auto;
		}
	}
}