.activity-analysis{ 
	.border{
		border:1px solid red;
	}
	.activity-search{
		margin-bottom: 20px;
		display:flex;
		width: 100%;
		position: relative;
		div{
			flex:1;
		}
		.search-left{			
			& > div,& > span,& > input,& > select,& > a{
				float: left;
				margin-right: 15px;
				margin-bottom:10px;
			}
			& > span{
				line-height: 40px;
			}
		}.search-right{
			text-align: right;
			line-height: 36px;
			.search-time{
			}
			.view-report{
				color: #00bcd4;
				padding-left: 20px;
			}
		}
		.showList{
			position: absolute;
			border: 1px solid #ddd;
			background: #fff;
			top: 38px;
			left: 76px;
			padding: 15px 15px 0 15px;
			min-width: 158px;
			border-radius: 5px;
			max-height: 175px;
			overflow: auto;
			z-index: 1;
			ul{
				li{
					margin-bottom: 10px;
					cursor: pointer;
					&:hover{
						color:#2196f3;
					}
				}
			}
		}
	}
	.transaction-data{
		margin-bottom: 20px;
		border:1px solid rgba(233,233,233,1);
		border-radius:3px;
		.data-title{
			height:36px;
			line-height:36px;
			background-color:rgba(242,242,242,1);
			.title-left{
				padding-left:20px;
			}
			.title-right{
				cursor: pointer;
				display:inline;
				float: right;
				padding-right: 20px;
			}
		}
		.data-today-table{
			padding:0 20px;
			margin-top: 20px;
			.title{
				display:inline-block;
				height:36px;
				line-height:36px;
				i{
					display:inline-block;
					float: left;
					margin:8px 10px 0 0;
					width:5px;
					height:16px;
					margin-top:8px; 
					background-color:#2196f3;
				}
			}
			table{
				margin-top:20px;
				tr{
					td{
						span{
							line-height:40px;
						}
						strong{
							display: block;
							font-size: 24px;
						}
					}
				}
			}
		}
		.data-cumulative-table{
			@extend .data-today-table;
		}
		.data-detail{
			@extend .data-today-table;
			.choose-btn{
				a{
					margin-right: 20px;
				}
			}
			.choose-btn:not(:first-child){
				margin-top:20px;
			}
			.data-echart{
				height:300px;
				margin:20px 0;
				border:1px solid rgba(233,233,233,1);
			}
		}
	}
	.transaction-region{
		@extend .transaction-data;
		.region-title{
			@extend .data-title;
		}
		.region-table{
			@extend .data-today-table;
		}
		.region-detail{
			@extend .data-detail;
		}
		.region-echart{
			// height:600px;
			margin:20px 0;
			border:1px solid rgba(233,233,233,1);
		}
	}
	.transaction-time{
		@extend .transaction-data;
		.time-title{
			@extend .data-title;
		}
		.time-show{
			@extend .data-detail;
			.time-echart{
				@extend .data-echart;
			}
		}
	}
	.merchant-data{
		@extend .transaction-data;
		.merchant-title{
			@extend .data-title;
		}
		.merchant-table{
			@extend .data-today-table;
		}
		.merchant-detail{
			@extend .data-detail;
			.merchant-echart{
				// @extend .data-echart;
				margin:20px 0;
				border:1px solid rgba(233,233,233,1);
				// height:320px;
				// height:auto;
				// border-width: 0px;
			}
		}
	}
	.cardBIN-data{
		@extend .transaction-data;
		.cardBIN-title{
			@extend .data-title;
		}
		.cardBIN-ranking-table{
			@extend .data-today-table;
		}
		.cardBIN-detail{
			@extend .data-detail;
			.cardBIN-echart{
				// @extend .data-echart;
				// height:600px;
				margin:20px 0;
				border:1px solid rgba(233,233,233,1);
			}
		}
	}
	.one-card{
		@extend .transaction-data;
		.one-title{
			@extend .data-title;
		}
		.one-ranking-table{
			@extend .data-today-table;
		}
		.one-detail{
			@extend .data-detail;
			.one-echart{
				// @extend .data-echart;
				// height:600px;
				margin:20px 0;
				border:1px solid rgba(233,233,233,1);
			}
		}
	}
	// .latinos-data{
	// 	margin-bottom: 20px;
	// 	padding-bottom: 20px;
	// 	border:1px solid rgba(233,233,233,1);
	// 	border-radius:3px;
	// 	.latinos-title{
	// 		height:36px;
	// 		line-height:36px;
	// 		background-color:rgba(242,242,242,1);
	// 		.title-left{
	// 			padding-left:20px;
	// 		}
	// 		.title-right{
	// 			display:inline;
	// 			float: right;
	// 			padding-right: 20px;
	// 		}
	// 	}
	// 	.latinos-data-table{
	// 		padding:0 20px;
	// 		margin-top: 20px;
	// 		.title{
	// 			display:inline-block;
	// 			height:36px;
	// 			line-height:36px;
	// 			i{
	// 				display:inline-block;
	// 				float: left;
	// 				margin:8px 10px 0 0;
	// 				width:5px;
	// 				height:16px;
	// 				margin-top:8px; 
	// 				background-color:#2196f3;
	// 			}
	// 		}
	// 		table{
	// 			margin-top:20px;
	// 			tr{
	// 				td{
	// 					span{
	// 						line-height:40px;
	// 					}
	// 					strong{
	// 						display: block;
	// 						font-size: 24px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	// .latinos-probability{
	// 	@extend .latinos-data;
	// 	.probability-table{
	// 		@extend .latinos-data-table;
	// 		margin-top:0px;
	// 		.title{
	// 			margin-top:20px;
	// 		}
	// 	}
	// 	.probability-detail{
	// 		padding:0 20px;
	// 		margin-top: 20px;
	// 		.title{
	// 			display:inline-block;
	// 			height:36px;
	// 			line-height:36px;
	// 			i{
	// 				display:inline-block;
	// 				float: left;
	// 				margin:8px 10px 0 0;
	// 				width:5px;
	// 				height:16px;
	// 				margin-top:8px; 
	// 				background-color:#2196f3;
	// 			}
	// 		}
	// 		.probability-echart{			
	// 			height:300px;
	// 			margin:20px 0;
	// 			border:1px solid rgba(233,233,233,1);
	// 		}
	// 	}
	// }
}