.activity-data-overview{
	background: #f0f0f0 !important;
	padding:0 !important;
	.search-bg{
		background-color: #212528;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		.search-show{
			position: relative;
			height: 40px; margin-bottom:10px;
			.input{
				float: left;
				width: 520px;height: 40px !important;
				background: #f0f0f0;font-size: 18px;color: #000;
			}
			a{
				display: inline-block;float: right;padding-left: 10px;
				background:url("../img/ico1.png") no-repeat 10px 10px;border-radius: 2px;color:#E76B5F;border:1px solid #E76B5F;width:118px;height: 38px;line-height:38px;text-align: center;
			}
			.searchBtn{
				float: left;
				margin-left: 20px !important;
			}
			.showList{
				position: absolute;top: 66px;left: 0;padding: 15px 15px 0 15px;
				min-width: 488px;max-height: 400px;
				background: #f0f0f0;color:#444;border: 1px solid #ddd;border-radius: 5px;overflow: auto;z-index: 999;
				ul{
					li{
						margin-bottom: 10px;
						cursor: pointer;
						&:hover{
							color:#2196f3;
						}
					}
					.checked{
						color:#2196f3;
					}
				}
			}
		}
	}
	.chart-show{
		.flex{
			display:flex;
			margin-top: 20px;
			height:350px;
			cursor: pointer;
			div{
				h4{
					height: 45px;
					line-height: 45px;
					padding-left: 15px;
					font-size:13px;
					a{
						float: right;
						padding-right: 10px;
						i{
							font-size: 25px;
							position: relative;
							top: 4px;
							left: -3px;
						}
					}
				}
				div{
					overflow: hidden;
					padding: 0 10px;
					text-align: center;
					p{
						float: left;
						span{
							display: inline-block;
							width:10px;height:10px;margin-right: 5px;
							background: #7ECAC5;
						}
						.colora9{
							background: #A9A9A9;
						}
					}
					.right{
						float: right;
					}
				}
			}
			&>div{
				flex:1;
				margin-left: 20px;
				background: #fff;
			}
			.left{
				margin-left:0;
			}
		}
		.border{
			border-radius:5px;
			overflow: hidden;
			.left,.center,.right{
				height:100%;
				.echart-div{
					height: 255px;
					// width: 255px;
					margin: auto;
				}
			}
		}
		.short{
			.echart-div{
				margin-top: 15px;
				padding-left: 20px;
				div{
					color:#AEAEAE;
				}
				.num{
					margin-bottom: 20px;
					p{
						margin: 0 auto;
						height:48px;
						line-height: 48px;
						min-width: 48px;
						border-radius: 41px;
						background: #E7AF5F;
						color:#fff;
						font-size: 24px;
						padding: 0 5px;
						box-sizing: border-box;
					}
				}
			}
			.center>.echart-div{
				border-left: 1px solid #e7e7e7;
				border-right: 1px solid #e7e7e7;
			}
		}
	}
}