.activity-analysis{
	.border{
		border:1px solid red;
	}
	.activity-search{
		margin-bottom: 20px;
		display:flex;
		width: 100%;
		div{
			flex:1;
		}
		.search-left{			
			label{
				display: inline;
				line-height:36px;
			}
			.input{
				margin-left: 20px;
				margin-top:1px;
			}
		}.search-right{
			text-align: right;
			line-height: 36px;
			.search-time{
			}
			.view-report{
				color: #00bcd4;
				padding-left: 20px;
			}
		}
	}
	.transaction-data{
		margin-bottom: 20px;
	}
}