.clearfix:before,.clearfix:after{
	content:"";
	display:table;
}
.clearfix:after{clear:both;}
.clearfix{
	*zoom:1;/*IE/7/6*/
}
.activity-rule{
	padding-top: 20px;
	.dashed{
		border-bottom: 1px dotted #c8c8c8;
		margin: 25px;
		width: 90%;
	}
	.rule-row{
		padding: 0 20px;
		margin: 0 auto 20px;
		@extend .clearfix;
		font-size: 15px;
		h3{
			width: 100%;
			i{
				color: red;
			}
		}
		.rule-input{
			@extend .clearfix;
			min-width: 500px;
			padding-left: 30px;
			& > div,& > span,& > input,& > select,& > a{
				float: left;
				margin-right: 10px;
				margin-top: 15px;
			}
			& > .select{
				width: 250px;
			}
			.db{
				display: block;
				width: 100%;
				margin-top: 0px;
				.select{
					width:195px;
				}
				& > div,& > span,& > input,& > select,& > a{
					float: left;
					margin-right: 10px;
					margin-top: 15px;
				}
			}
			.db:first-child{
				margin-top: 0;
			}
			.icon-add,.icon-remove{
				font-size: 24px;
				color: #2196F3;
				margin: 19px 0 4px 5px;
				cursor: pointer;
			}
			.icon-remove{
				color:#666;
			}
			.m20{
				margin: 0 10px;
				position: relative;
				top: -15px;
			}
			.KSNRCheckbox{
				margin-right:10px;
				top: -3px;
			}
		}
		.rule-label,.rule-input{
			line-height:36px;
		}
	}
}


