.bussiness-set{
	.rule-title{
		margin: 20px 0;
		.search-div{
			float: right;
			.input{
				margin-right: 20px;
			}
		}
		.btn-info{
			margin-left: 40px;
		}
		.btn-primary{margin-left: 40px;}
	}
	.table-row{
		margin-bottom:20px;max-height: 500px;
		overflow: auto;
		.table{
			tr th:last-child{
				text-align: right !important;
				padding-right: 20px !important;
			}
			.txt-right{
				text-align: right !important;
				padding-right: 20px !important;
			}
			tr td{
				border-bottom:0px !important;
			}
		}
	}
	.add-table{
		.add-search{
			margin-bottom: 20px;
			span,a,input,select{
				margin-right: 10px;
			}
		}
		.table{
			margin-bottom: 20px;
			.KSNRCheckbox.KSNRCheckbox__UID--all{
				margin-left: 4px;
			}
		}
		.tc{
			padding: 20px 0;
		}
		.addtable-row{
			max-height: 550px;
			overflow: auto;
		}
	}
}


