.create-activity{
	margin: 20px;  padding: 45px;  padding-right: 15px;
	background: #fff;
	.activity-list{
		width: 100%;
		overflow: hidden;
		.show-activity.m100{
			margin-right: 100px;
		}
		.show-activity{
			position: relative; float: left;margin-bottom: 20px;  padding-right: 30px;
			box-sizing: border-box;display: block;width: 25%;  height: 125px;
			text-align: center;  cursor: pointer;
			.hover-div{
				display: none;
				.hover-bg{
					position: absolute;  top:0;  left: 0;
					width: 100%;  height:100%;
					background: #000;      opacity: 0.8;  border-radius: 15px;
				}
			}
			.btn{
				position: absolute;  top:10px;  left: 30%;
			}
			.btn-danger{
				top:60px;
			}
			.bg-show{
				position:relative;
				display:inline-block;width: 100%;  height:100%;
				border-radius: 15px;  background-repeat:no-repeat;  background-position: 79px 35px;  background-color: #f7f7f7;
				transition: background-color 2s;  -moz-transition: background-color 2s;	/* Firefox 4 */-webkit-transition: background-color 2s;	/* Safari 和 Chrome */-o-transition: background-color 2s;	/* Opera */
				.activity-name{
					padding-left: 90px;  margin-top: 30px;
					color: #fff;  cursor: pointer;text-align: left;
					a{
						color: #000;  font-size: 24px;
					}
				}
				.activity-intru{
					max-width: 200px;  max-height: 45px;
					padding-left: 90px;
					text-align: left;color: #999;overflow: hidden;
				}
			}
			&:hover{
				.hover-div{
					display: block;
				}
				.bg-show{
					background-color: #fff;
				}
			}
			.manjian{
				background-image:url("../img/hd-manjian.png");
			}
			.lijian{
				background-image:url("../img/manjian.png");
			}
			.zhekou{
				background-image:url("../img/discount-reduce.png");
			}
			.suijilijian{
				background-image:url("../img/hd-sjlijian.png");
			}
			.meimanjian{
				background-image:url("../img/hd-meimanjian.png");
			}
			.suijizhekou{
				background-image:url("../img/hd-sjzhekou.png");
			}
			.lianhuanzhekou{
				background-image:url("../img/lianhuan-zk.png");
			}
			.jihaojizhe{
				background-image:url("../img/jihaojizhe.png");
			}
			.zhoujijizhe{
				background-image:url("../img/hd-zhoujijizhe.png");
			}
			.piaowu{
				background-image:url("../img/hd-piaowu.png");
			}
			.quanyi{
				background-image:url("../img/piaowulei.png");
			}
			.zidingyi{
				background-image:url("../img/custom.png");
			}
		}
	}
}


