.custom{
	.custom-section{
	    .title{
			font-size: 20px;
	    	margin: 0px 0 20px 0;
	    }
	    .type-text{
	    	.title{//旧版
				display: block;
				font-size: 16px;
				height: 30px;
				line-height: 30px;
	    		span{
					color: red;
					line-height: 30px;
					display: inline-block;
					width: 20px;
					height: 30px;
					text-align: center;
					vertical-align: middle;
	    		}
	    	}
	    	textarea{
				width: 97%;
				height: 300px;
				resize: none;
				padding: 15px;
				font-size: 14px;
				line-height: 20px;
	    	}
	    }
	    .upload-file{
			height: 40px;
			margin: 20px 0 20px 0;
	    	.file{
				float:left;
	    	}
	    	.check{
	    		float: left;
	    		margin: 3px 0 0 5px;
	    	}
	    	.info{
				float: left;
				height: 34px;
				line-height: 34px;
				margin: 3px 0 0 20px;
	    	}
	    }
	}
	.up-type{
		width: 88px;
		margin: auto;
		.up-type{
			width: 88px;
			margin: auto;
	  		input{
	  			width:88px;
	  			background-color:#37a2f5;
	  		}
	  	}
	}
}