html,body{
  min-width: 1280px;
  height:100%;
  background-color: rgb(245, 245, 245);
  h1{
    font-size:30px;
  }
  h2{
    font-size:24px;
  }
  h3{
    font-size:18px;
  }
  h4{
    font-size:16px;
  }
  h5{
    font-size:14px;
  }
  h6{
    font-size:12px;
  }
}
.header{
  background-color: #37474F;
  border-color: #37474F;
  border-width: 1px 0;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  height:50px;
  .header-title{
    float:left;
    width:130px;
    height:24px;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 20px 0 20px;
  }
  .header-infor{
    float: right;
    margin-right: 40px;
    .img-area{
      width: 40px;
      height: 50px;
      float: left;
      img{
        width: 40px;
        margin-top: 5px;
      }
    }
    .information-show{
      float:left;
      margin:0 20px;
      font-size:12px;
      span:first-child{
        margin-top: 7px;
        display:block;
        text-align: right;
      }
      span:last-child{
        position: relative;
        display:block;
        top: -3px;
        text-align: right;
      }
    }
    .function-click{
      cursor:pointer;
      width:30px;
      float:left;
      margin-top:13px;
      padding-left:20px;
      border-left: 1px solid #fff;
    }
  }
}
.content{
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
  .content-main{
    display: table-row;
    .content-left{
      display: table-cell;
      width: 260px;
      background-color: rgb(38, 50, 56);
      color: rgb(255, 255, 255);
      position: relative;
      vertical-align: top;
      .menu{
        list-style: none;
        position: relative;
        .icon{
          margin: -5px 10px 0 0;
        }
        li{
          ul a{
            padding-left: 45px;
          }
        }
        a,span{
          box-sizing: border-box;
          padding: 12px 20px;
          min-height: 44px;
          font-weight: 500;
          display: block;
          cursor: pointer;
          color: #fff;
          &:hover{
            background-color: rgba(0,0,0,.1);
            color: #fff;
          }
        }
        .v-link-active {
          color: #fff;
          background: #2196f3;
          &:hover{
            color: #fff;
            background: #2196f3;
          }
        }
      }
    }
    .content-right{
      margin: 20px;
      padding: 20px;
      background: #fff;
      table{
        width:100%;
        border:1px solid #E9E9E9;
        tr{
          text-align:center;
          height:44px;
          background-color:#FFFFFF;
          th{
            text-align:center;
            border-bottom:1px solid #E9E9E9;
            border-bottom-color:#999999;
          }
          td{
            a{
              color:#2196f3;
              padding:0 5px;
              cursor: pointer;
            }
            a:hover{
              color:#1e88e5;
            }
          }
        }
        tr:nth-child(2n){
          background-color:#FCFCFC;
        }
      }
    }
  }
}
.r {
  float: right;
}
a{
  color:#2196f3;
  cursor: pointer;
}
a:hover{
  color:#1e88e5;
}
.footer{
  background-color:#fff;
  height: 46px;
}