html,body{
  height:100%;
  background-color: rgb(245, 245, 245);
}
.header{
  background-color: #37474F;
  border-color: #37474F;
  border-width: 1px 0;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  height:46px;
}
.content{
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
  .content-main{
    display: table-row;
    .content-left{
      display: table-cell;
      width: 260px;
      background-color: rgb(38, 50, 56);
      color: rgb(255, 255, 255);
      position: relative;
      vertical-align: top;
      .menu{
        list-style: none;
        position: relative;
        .icon{
          margin: -5px 10px 0 0;
        }
        li{
          ul a{
            padding-left: 45px;
          }
        }
        a,span{
          box-sizing: border-box;
          padding: 12px 20px;
          min-height: 44px;
          font-weight: 500;
          display: block;
          cursor: pointer;
          color: #fff;
          &:hover{
            background-color: rgba(0,0,0,.1);
            color: #fff;
          }
        }
        .v-link-active {
          color: #fff;
          background: #2196f3;
          &:hover{
            color: #fff;
            background: #2196f3;
          }
        }
      }
    }
    .content-right{
      margin: 20px;
      padding: 20px;
      background: #fff;
    }
  }
}
.r {
  float: right;
}
.footer{
  background-color:#fff;
  height: 46px;
}